@model GWSApp.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyRateA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyRateA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyRateB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyRateB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyRateC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyRateC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyRateD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyRateD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtotalA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtotalA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtotalB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtotalB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtotalC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtotalC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtotalD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtotalD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
