@model IEnumerable<GWSApp.Models.MeterReading>

@{
    ViewBag.Title = "Index";
}

<h2>Meter Readings</h2>

<p>Quantities in cubic metres.</p>

@Html.Raw(ViewBag.Error)
@using (Html.BeginForm("Index", "MeterReadings", FormMethod.Get))
{
    <p>
        Search customer by Surname: @Html.TextBox("SearchString") <input type="submit" value="Search" />
    </p>
}
<p>
    @Html.ActionLink("Enter New Reading", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
